@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
    font-size: 16px;
    /* font-family: roboto; */
}

#btn-acess {
  position: fixed;
  top: 320px;
  left: 10px;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  border: none;
  transition: .4s;
  background-color: #4054B2;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  font-size: 3rem;
  cursor: pointer;
  line-height: inherit;
  height: 61px;
  width: 60px;
  max-width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-acess:hover,#btn-acess:focus {
  transform: scale(1.2);
}
#btn-acess img{
  max-width: 100%;
}
/* ######## ACESSIBILIDADE ######## */

/* AUTOCONTRASTE */
.contrast_preto_branco_amarelo,
.contrast_preto_branco_amarelo div,
.contrast_preto_branco_amarelo li,
.contrast_preto_branco_amarelo ol,
.contrast_preto_branco_amarelo header,
.contrast_preto_branco_amarelo footer,
.contrast_preto_branco_amarelo section,
.contrast_preto_branco_amarelo main,
.contrast_preto_branco_amarelo aside,
.contrast_preto_branco_amarelo article {
    background: black !important;
    color: white !important;
}


.contrast_preto_branco_amarelo div#exampleModal{
  background-color: transparent !important;
}
.contrast_preto_branco_amarelo h1,
.contrast_preto_branco_amarelo h2,
.contrast_preto_branco_amarelo h3,
.contrast_preto_branco_amarelo h4,
.contrast_preto_branco_amarelo h5,
.contrast_preto_branco_amarelo h6,
.contrast_preto_branco_amarelo p,
.contrast_preto_branco_amarelo label,
.contrast_preto_branco_amarelo strong,
.contrast_preto_branco_amarelo em,
.contrast_preto_branco_amarelo cite,
.contrast_preto_branco_amarelo q,
.contrast_preto_branco_amarelo i,
.contrast_preto_branco_amarelo b,
.contrast_preto_branco_amarelo u,
.contrast_preto_branco_amarelo span {
    color: white !important;
}

.contrast_preto_branco_amarelo a {
    color: yellow !important;
}

.contrast_preto_branco_amarelo button:not(.owl-dot),
.contrast_preto_branco_amarelo input[type=button],
.contrast_preto_branco_amarelo input[type=reset],
.contrast_preto_branco_amarelo input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: 1px solid white !important;
}

.contrast_preto_branco_amarelo img,.contrast_preto_branco_amarelo div.owl-stage-outer, .contrast_preto_branco_amarelo span.card-new-image, .contrast_preto_branco_amarelo iframe, .contrast_preto_branco_amarelo svg{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%) contrast(120%);
}

.contrast_preto_branco_amarelo input[type=text],
.contrast_preto_branco_amarelo input[type=password],
.contrast_preto_branco_amarelo input[type=url],
.contrast_preto_branco_amarelo input[type=search],
.contrast_preto_branco_amarelo input[type=email],
.contrast_preto_branco_amarelo input[type=tel],
.contrast_preto_branco_amarelo input[type=date],
.contrast_preto_branco_amarelo input[type=month],
.contrast_preto_branco_amarelo input[type=week],
.contrast_preto_branco_amarelo input[type=datetime],
.contrast_preto_branco_amarelo input[type=datetime-local],
.contrast_preto_branco_amarelo textarea,
.contrast_preto_branco_amarelo input[type=number] {
    background: black !important;
    color: white !important;
    border: 1px solid white;
}



.contrast_inverter_cor {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
            filter: invert(100%);
}

.contrast_preto_branco {
    -webkit-filter: grayscale(100%) contrast(120%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
        filter: grayscale(100%) contrast(120%);
}

.contrast_preto_branco_invertida {
    -webkit-filter: grayscale(100%) contrast(120%) invert(100%);
    -moz-filter: grayscale(100%) contrast(120%) invert(100%);
    -ms-filter: grayscale(100%) contrast(120%) invert(100%);
    -o-filter: grayscale(100%) contrast(120%) invert(100%);
            filter: grayscale(100%) contrast(120%) invert(100%);
}

.contrast_aumentar_contraste {
    -webkit-filter: contrast(140%);
    -moz-filter: contrast(100%);
    -ms-filter: contrast(100%);
    -o-filter: contrast(100%);
            filter: contrast(140%);
}

.contrast_link:hover{
	cursor: pointer;
}

 .dark body, .dark section, .dark nav, .dark header{
   background: #131313 !important;
   color: #fff !important;
 }

.dark div, .dark a{
  background: #202021 !important;
 }

 .dark button{
  -webkit-filter: grayscale(100%) contrast(120%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
      filter: grayscale(100%) contrast(120%);
 }

 .dark h1,
 .dark h2,
 .dark h3,
 .dark h4,
 .dark h5,
 .dark h6,
 .dark p,
 .dark label,
 .dark strong,
 .dark em,
 .dark cite,
 .dark q,
 .dark i,
 .dark b,
 .dark u,
 .dark span,
 .dark a {
   color: white !important;
 }

.dark input[type=text],
.dark input[type=password],
.dark input[type=url],
.dark input[type=search],
.dark input[type=email],
.dark input[type=tel],
.dark input[type=date],
.dark input[type=month],
.dark input[type=week],
.dark input[type=datetime],
.dark input[type=datetime-local],
.dark textarea,
.dark input[type=number],
.dark button:not(.owl-dot) {
    background: #3c4042 !important;
    color: white !important;
    border: 1px solid white !important;
}

/* slider destacar links */
.switch_links {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
  
  /* Hide default HTML checkbox */
  .switch_links input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8E8E8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 3px;
    background-color: #28336C;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #28336cbd;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #28336cbd;
    border: 1px solid blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* contraste radio  */
.color__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.color__list:after {
  content: "";
  clear: both;
}

.color__list-item {
  box-sizing: border-box;
  float: left;
  height: 140px;
  position: relative;
  width: 145px;
}

.color__list-item + .color__list-item {
  margin-left: 2rem;
}

.color__list-item label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
  height: 99%;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}
/* 
.color__list-item input{
  visibility: hidden;
} */

.item__content{
  position: absolute;
}

.autocontraste label, .monocromatico label,.aumentarContraste label, .cinzaInvetido label, .corInvertida label, .darkMode label {
  background-image: url("../img/autocontraste.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
  
}
.monocromatico label {
  background-image: url("../img/monocromatico.png");
}

.aumentarContraste label {
  background-image: url("../img/aumentar-contraste.png");
}
.cinzaInvetido label {
  background-image: url("../img/inverter-monocromatico.png");
}
.corInvertida label {
  background-image: url("../img/cores-invertidas.png");
}
.darkMode label {
  background-image: url("../img/modo-escuro.png");
}



.sidebar__content input:focus + label {
  outline: 2px dotted #29336D;
}

.sidebar__content input:checked + label {
  outline: 4px solid #29336D;
}

.sidebar__content input:checked + label:after {
  background: url('../img/checked.svg');
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px;
}

.sidebar-header{
  height: 145px;
  background-image: url('../img/bg-top-acess.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none !important;
}

.sidebar-header .close {
  padding: 1rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  opacity: 1;
}

.modal-title {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

h3.sidebar__content-title {
  font-size: 1.2em;
  color: #5A5A5A;
  font-weight: bold;
}

label.select-detail {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

/* ACESSIBILIDADE */
#open-acessibilidade {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 9999;
}
.acessibilidade {
  position: fixed;
  z-index: 1000000000000000;
  max-width: 524px;
  width: 100%;
  height: 75vh;
  left: -590px;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.09);
  border-radius: 0px 20px 20px 0px;
  transition: .6s;
  overflow: auto;
}
.acessibilidade.active {
  left: 0;
}
#close-acessibilidade {
  width: 42px;
  height: 42px;
  background: #EE1B2E;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  margin: 30px 0;
  position: absolute;
  right: 0;
}
.acessibilidade .box {
  padding: 30px;
}

/* Usamos o pseudo-element :before para recriar o novo radio */
label.select-detail:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius:50%;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


input[type=radio]{
  -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.estilo_range {
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  width: 100%;
  height: 20px;
  border-radius: 9px;   
}

.estilo_range:focus{
  border: 2px solid blue;
}

.estilo_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #28336C;
  cursor: pointer;
}

.estilo_range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #2796ee;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 900px){
  .autocontraste label, .monocromatico label,.aumentarContraste label, .cinzaInvetido label, .corInvertida label, .darkMode label {
    background-size: unset;
    width: 100%;
  }
  .autocontraste, .monocromatico,  .aumentarContraste, .cinzaInvetido , .corInvertida , .darkMode  {
   width: 80% !important;
  }
  div.color__list{
    justify-content: center !important;
  }
  .monocromatico,  .aumentarContraste{
    margin-left: 0 !important;
    margin-top: 1rem;
  }
  .modal-dialog {
    width: 80% !important;
  }
}

.destacarLink a{
  text-decoration: underline !important;
  color: red !important;
}

.tamFont1 p,
.tamFont1 small,
.tamFont1 label,
.tamFont1 h1,
.tamFont1 h2,
.tamFont1 h3,
.tamFont1 h4,
.tamFont1 h5,
.tamFont1 h6
{
  font-size: 1.5em !important;
}
.tamFont2 p,
.tamFont2 small,
.tamFont2 label,
.tamFont2 h1,
.tamFont2 h2,
.tamFont2 h3,
.tamFont2 h4,
.tamFont2 h5,
.tamFont2 h6{
  font-size: 2em !important;
}
.tamFont3 p,
.tamFont3 small,
.tamFont3 label,
.tamFont3 h1,
.tamFont3 h2,
.tamFont3 h3,
.tamFont3 h4,
.tamFont3 h5,
.tamFont3 h6{
  font-size: 2.5em !important;
}

.espacoText1 body:not(a){
  letter-spacing: 0.2em !important;
}
.espacoText2 body:not(a){
  letter-spacing: 0.5em !important;
}
.espacoText3 body:not(a){
  letter-spacing: 0.7em !important;
}

.espacoLine1 body:not(a){
  line-height: 2em !important;
}
.espacoLine2 body:not(a){
  line-height: 2.5em !important;
}
.espacoLine3 body:not(a){
  line-height: 3em !important;
}